{% extends 'layout.html' %}

{% block content %}

<div class='row'>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-3">
		<div class="border-bottom">
			<h4>What Does This Site Contain?</h4>
		</div>
	<div class="pt-4">
		<p>There are different ways available to search and compare powerlifting data.  The Customized Reports page searches for a specific lifter in a specific weight class and federation and returns the best meet results and compares that lifter with competitors.  The Compare Lifters page will run a process that compares two lifters using absolute measures as well as relative strength measurements.  Finally, the general reports page will generate reports on a specific weight class or federation.  Currently, there are only a couple weight classes and federations available for that feature.</p>
	</div>
	</div>
</div>

<div class='row'>
	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mt-3">
		<div class="border-bottom">
			<h4>Data Provided by OpenPowerlifting</h4>
		</div>
	<div class="pt-4">
		<p>All of the powerlifting data used in the different forms on this site was provided by <a href="http://www.openpowerlifting.org" class="text-dark">openpowerlifting.org.</a></p>
	</div>
	</div>
</div>
{% endblock content %}