{% extends 'layout.html' %}

{% block content %}

<div class='row'>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
		<div class="border-bottom">
			<h4>Professional Inquiries</h4>
		</div>
	<div class="pt-5">

		<p>I'm passionate about using data to improve outcomes.  I use a variety of tools to achieve this.  This includes Python, Pandas, Flask, and Django.  Even in competitive powerlifting, data can help improve the results of the athletes competing in the sport.  As a competitive powerlifter this can keep me on track of what I need to work on individually.  Imagine what this can do in a team environment.</p>

		<p>I am always hungry to learn new languages and visualization tools.  As a strength coach, opportunities exist in combining strength and conditioning and data science.  I graduated from Ball State University with a Exercise Science Bachelors degree in 2019.  For business inquiries please email me at nicolas.bolt@gmail.com </p>

		<div class="text-center">
		<a href="https://www.instagram.com/nicolasbolt/"><img src="/static/images/ig.png" /></a>
		<a href="http://www.linkedin.com/in/nicolas-bolt-59a523131"><img src="/static/images/ln.png" class="pl-2" /></a>
		</div>
	</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 mt-3">
		<img src="/static/images/picture-sq.jpg" class="rounded-circle pb-2" alt="picture" height="200" width="200" />
		
		<div class="list-group list-group-flush pt-5">

  <a href="https://github.com/nicolasbolt" class="list-group-item list-group-item-action list-group-item-light">Github</a>
  <a href="http://www.cohesivecommerce.com" class="list-group-item list-group-item-action list-group-item-light">Cohesive Commerce</a>
  <!--<a href="#" class="list-group-item list-group-item-action list-group-item-light">Other Links Here</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">Other Links Here</a>-->
</div>
	</div>
</div>

{% endblock content %}